<html>

<head>
    <script src="~/Scripts/Chart.min.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/moment-with-locales.min.js"></script>
        <style>
            #chartContainer{
                width:1200px;
                height:600px;
            }
        </style>

    @{
        ViewBag.Title = "Charter";
    }
   
</head>
<body>
    @model IEnumerable<SleepLogASP.Models.ChartInfo >

    <h2>See your last 7 days:</h2>
    <div id="chartContainer" style="height: 370px; width: 100%; margin:40px">
        <canvas id="bar_chart"></canvas>
    </div>

    <script type="text/javascript">

        var date = @Html.Raw(Json.Encode(ViewBag.DATE));
        var amountOfTime = @Html.Raw(Json.Encode(ViewBag.TIME));

        var jsDateList = new Array(date.length);
        var jsDateFormatted = new Array(date.length);

        for (var i = 0; i < date.length; i++) {
            var milli = date[i].replace(/\/Date\((-?\d+)\)\//, '$1');
            jsDateList[i] = new Date(parseInt(milli));
            jsDateFormatted[i] = jsDateList[i].getDate() +"."+ (jsDateList[i].getMonth()+1);
        }
        
        var ctx = $('#bar_chart');
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: jsDateFormatted,
                datasets: [{
                    label: "Number of hours of sleep",
                    data: amountOfTime,
                }]
            },

            options: {

                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0
                        }
                    }]
                },

                legend: { display: false }
            }

        });
    </script>

</body>
</html>